/* 基础样式设置 */
body {
    background-color: #F4F4F4;
    color: #2E0818;
}

/* 确保所有链接文字也使用相同颜色 */
a {
    color: #2E0818;
}

/* 页脚样式 */
.footer {
    background: #f4f4f4;
    padding: 70px 0 23px;
    position: relative;
    width: 100%;
    min-height: 680px;
    overflow: hidden;
}
/* 页脚链接样式 */
.footer a {
    color: #2E0818;
}

/* 页脚标题样式 */
.footer h3 {
    color: #2E0818;
}

/* 页脚底部文字样式 */
.footer-bottom span {
    color: #2E0818;
}


/* 顶部导航样式 */
.work-nav-container {
    position: fixed;
    top: 24px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 6;
}

.work-logo svg {
    width: 40px;
    height: 40px;
}

.work-menu-container {
    background: white;
    border-radius: 41px;
    backdrop-filter: blur(20px);
    padding: 4px 4px 4px 30px;
    display: flex;
    align-items: center;
    gap: 24px;
    margin-right: 110px;
}

.work-menu-items {
    display: flex;
    align-items: center;
    gap: 24px;
}

.work-menu-items a {
    color: #2E0818;
    font-size: 24px;
    font-family: 'Zain', sans-serif;
    text-decoration: none;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
}

/* 激活状态样式 */
.work-menu-items a.active {
    font-weight: 700;
}

/* 小红点样式 */
.work-menu-items a.active::after {
    content: '';
    width: 4px;
    height: 4px;
    background: #FB0066;
    border-radius: 50%;
    margin-bottom: -5px;
    margin-left: 1px; /* 调整小红点与文字的距离 */
    display: block;
}

.contact-btn {
    padding: 12px 24px;
    background-color: #2E0818;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.work-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 50px 0 50px;
}

.work-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.work-heading {
    color: #2E0818;
    font-size: 130px;
    font-family: Zain;
    font-weight: 700;
    line-height: 130px;
}

.title-dot {
    width: 12px;
    height: 12px;
    background: #FB0066;
    border-radius: 9999px;
}

.filter-tags {
    display: inline-flex;
    align-items: center;
    gap: 16px;
}

.tag {
    padding: 10px 20px;
    border-radius: 46px;
    font-family: Zain;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
}

.tag.active {
    background: #2E0818;
    color: white;
    font-weight: 700;
}

.tag.inactive {
    background: #F4F4F4;
    color: #2E0818;
    font-weight: 400;
    border: 1px solid rgba(46, 8, 24, 0.20);
}

.separator {
    width: calc(100% - 100px);
    height: 1px;
    background-color: #c3c3c3;
    margin: 0px 50px;
}
